@model Group
@{
    ViewBag.Title = "Quản lý nhóm câu hỏi";
}

@section pluginStyles
{
    <link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12">
        <div class="ibox-title">
            <h5>Cập nhật nhóm câu hỏi</h5>
        </div>
        <div class="ibox-content p-sm">
            @using (Html.BeginForm("Edit", "Group", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @(Html.ValidationSummary(true, "", new {@class = "text-danger"}))
                    @Html.HiddenFor(model => model.GroupId)
                    @Html.HiddenFor(model => model.RowVersion)

                    @Html.Partial("_CreateOrEdit", Model)
                    @Html.Partial("_Toolbar")
                </div>
            }
        </div>
    </div>
</div>
@section pluginScripts
{
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
}

@section scripts
{
    @Scripts.Render("~/bundles/admjqueryval")
    <script src="~/Scripts/custom/createOrEdit.js"></script>
}
