@model IEnumerable<Group>
@{
    ViewBag.Title = "Quản lý danh mục";
}
@section pluginStyles
{
    <link href="~/Content/AdmGrid.css" rel="stylesheet" />

}

@helper ShowGroups(Group group, int level)
{
    <li class="dd-item" data-id="@group.GroupId">
        <div class="pull-right td_toggle m-r-md m-t-sm">
            <button type="button" class="toggle @(group.Actived.ToString().ToLower())"
                    data-toggle-state="true"
                    data-url="@Url.Action("UpdateToggle")"
                    data-args="Actived_@(group.Actived.ToString().ToLower())_@(group.GroupId)"></button>
            @(Html.Bootstrap()
                  .ActionLink("", "Edit")
                  .RouteValues(new { id = group.GroupId })
                  .Title("Cập nhật")
                  .AppendIcon("fa fa-pencil fa-2x"))
            @(Html.Bootstrap()
                  .ActionLink("", "Index", "Question")
                  .Class("ajax-link")
                  .RouteValues(new { CateId = group.GroupId })
                  .Title("Xem danh sách câu hỏi")
                  .AppendIcon("fa fa-question fa-2x"))
        </div>
        <div class="dd-handle">
            @group.GroupName <br />
            <small>@Html.Raw(group.Description)
            </small>
        </div>

        @if (group.ChildGroups != null && group.ChildGroups.Any())
        {
            <ol class="dd-list">
                @foreach (var category in group.ChildGroups)
                {
                    @ShowGroups(category, level + 1)
                }
            </ol>
        }
    </li>
}

<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Danh sách nhóm câu hỏi</h5>
                <div class="ibox-tools">
                    @(Html.Bootstrap()
                          .ActionLink("Thêm nhóm mới", "Create")
                          .Class("btn btn-primary btn-xs")
                          .PrependIcon("fa fa-plus"))

                    @(Html.Bootstrap()
                          .Button().Text("Mở rộng")
                          .HtmlAttributes(new {data_action = "expand-all"})
                          .Class("btn btn-info btn-xs")
                          .PrependIcon("fa fa-expand"))

                    @(Html.Bootstrap()
                          .Button().Text("Thu hẹp")
                          .HtmlAttributes(new {data_action = "collapse-all"})
                          .Class("btn btn-info btn-xs")
                          .PrependIcon("fa fa-compress"))

                </div>
            </div>

            <div class="ibox-content p-sm">

                <div class="dd" id="groups">
                    <ol class="dd-list">

                        @foreach (var group in Model)
                        {
                            @ShowGroups(group, 0)
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/plugins/nestable/jquery.nestable.js"></script>
    <script src="~/Scripts/custom/group.js"></script>
}
