@using PagedList.Mvc
@model PagedList.IPagedList<Test>
@{
    ViewBag.Title = "Trang chủ";
}

@section pluginStyles
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/AdmGrid.css" rel="stylesheet" />
    <style>
        .ibox-title h5 {
            font-weight: bold;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Danh sách bài kiểm tra đang hiện hành</h5>
                <div class="ibox-tools">

                </div>
            </div>
            <div class="ibox-content p-sm">
                <!-- Phần hiển thị Form tìm kiếm -->
                <div class="row">
                    <div class="col-md-12 m-b-sm">
                        @using (Html.BeginForm("Tests", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "search", id = "searchTest" }))
                        {
                            <div class="input-group">
                                @(Html.TextBox("Keyword", null, new
                            {
                                placeholder = "Nhập từ khóa hoặc nội dung cần tìm",
                                @class = "input-sm form-control"
                            }))

                                @Html.Hidden("PageSize", (int)ViewBag.CurrentPageSize, new { id = "pageSize" })
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary">Tìm kiếm</button>
                                    @(Html.ActionLink("Bỏ lọc", "Tests", new { courseId = ViewBag.CourseId },
                                          new { @class = "btn btn-sm btn-warning" }))
                                </span>
                            </div>
                        }

                    </div>
                </div>
                <!-- Phần hiển thị danh sách -->
                <table id="tblTests" class="table table-responsive table-bordered table-hover tbldata">
                    <thead>
                        <tr>
                            <th>Tiêu đề</th>
                            <th class="hidden-sm hidden-xs">Thông tin</th>
                            <th class="hidden-sm hidden-xs">Khóa học</th>
                            <th width="110px"></th>
                        </tr>
                    </thead>
                    @if (Model.Count != 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.Raw(item.TestTitle)
                                </td>

                                <td class="hidden-sm hidden-xs">
                                    @{
                                        var str = "";
                                        if (item.Scores != null && item.Scores.Count > 0)
                                        {
                                            str = item.Scores[0] + "";
                                            for (var i = 1; i < item.Scores.Count; i++)
                                            {
                                                str += ", " + item.Scores[i];
                                            }
                                            str = "(" + str + ")";
                                        }

                                    }
                                    Thời gian nộp bài: @item.TestStart.ToString("dd/MM/yyyy HH:mm") - @item.TestEnd.ToString("dd/MM/yyyy HH:mm")<br />
                                    Thời gian làm bài: @item.TestTime phút<br />
                                    Số câu: @item.TestDetails.Count<br />
                                    Đã hoàn thành: @(item.SubmitNoUser)/@(item.SubmitNo)<br />
                                    Điểm đạt được: @(item.UserScores) @str
                                </td>
                                <td class="hidden-sm hidden-xs">
                                    @item.Course.CourseName
                                </td>
                                <td>
                                    @if (item.SubmitNoUser < item.SubmitNo)
                                    {
                                        @(Html.Bootstrap()
                                              .ActionLink("", "Test", "Home")
                                              .RouteValues(new { id = item.TestId })
                                              .AppendIcon("fa fa-edit fa-2x")
                                              .Title("Làm bài thi"))
                                    }
                                    else
                                    {
                                        <span>Đã hoàn thành khóa học</span>
                                    }
                                </td>
                            </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr><td colspan="4">Không có bài kiểm tra nào</td></tr>
                                        }
                </table>

                <!-- Phần hiển thị thanh phân trang -->
                <div class="row">
                    <div class="col-md-6 m-b-sm text-center">
                        Hiển thị
                        @(Html.DropDownList("PageSize", null,
                              new { @class = "input-sm", id = "pageSelect" }))
                        mẫu tin
                    </div>
                    <div class="col-md-6 text-center">
                        @Html.PagedListPager(
                            Model,
                            page => Url.Action(
                                "Index",
                                new
                                {
                                    page,
                                    pageSize = ViewBag.CurrentPageSize,
                                    keyword = ViewBag.Keyword,
                                    status = ViewBag.CurrentStatus
                                }),
                            PagedListRenderOptions.ClassicPlusFirstAndLast)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/custom/testIndex.js"></script>
}
