@model PagedList.IPagedList<Account>

@{
    ViewBag.Title = "Quản lý tài khoản";
}

@section pluginStyles
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/AdmGrid.css" rel="stylesheet" />
    <style>
        .dropdown-width {
            max-width: 150px;
            float: right;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Danh sách tài khoản</h5>
                <div class="ibox-tools">
                    @(Html.Bootstrap()
                          .ActionLink("Thêm tài khoản", "Create")
                          .Class("btn btn-primary btn-xs")
                          .PrependIcon("fa fa-plus"))
                </div>
            </div>
            <div class="ibox-content p-sm">
                <!-- Phần hiển thị Form tìm kiếm -->
                <div class="row">
                    <div class="col-md-6 m-b-sm">

                        @using (Html.BeginForm("Index", "Account", FormMethod.Get,
new { @class = "form-horizontal", role = "search", id = "searchAccount" }))
                        {
                            <div class="input-group">
                                @(Html.TextBox("Keyword", null, new
                            {
                                placeholder = "Nhập từ khóa hoặc nội dung cần tìm",
                                @class = "input-sm form-control"
                            }))

                                @Html.Hidden("PageSize", null, new { id = "pageSize" })
                                @Html.Hidden("Status", null, new { id = "supStatus" })

                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary">Tìm kiếm</button>
                                    @(Html.ActionLink("Bỏ lọc", "Index", null,
                                          new { @class = "btn btn-sm btn-warning" }))
                                </span>
                            </div>
                        }

                    </div>
                    <div class="col-md-6 m-b-sm">
                        @(Html.DropDownList("supStatus", null,
                          new { @class = "input-sm dropdown-width", id = "statusSelect" }))
                    </div>
                </div>
                <!-- Phần hiển thị danh sách nhà phát hành -->
                <table id="tblAccounts" class="table table-responsive table-bordered table-hover tbldata">
                    <thead>
                    <tr>
                        <th width="100px">Tên tài khoản</th>
                        <th width="150px">Họ và tên</th>
                        <th class="hidden-sm hidden-xs">Thông tin tài khoản</th>
                        <th width="90px">Trạng thái</th>
                        <th width="100px"></th>
                    </tr>
                    </thead>
                    @if (Model.Count != 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Profile.FullName)
                                </td>

                                <td class="hidden-sm hidden-xs">
                                    Mã: @Html.DisplayFor(modelItem => item.Profile.Identity)<br/>
                                    Email: @Html.DisplayFor(modelItem => item.Email)<br />
                                    SĐT: @Html.DisplayFor(modelItem => item.PhoneNumber)<br />
                                    Ngày sinh: @if (item.Profile.BirthDate.HasValue)
                                    {
                                        @item.Profile.BirthDate.Value.ToString("dd/MM/yyyy")
                                    }
                                    else
                                    {
                                        <span>?</span>
                                    }
                                </td>

                                <td class="td_toggle">
                                    <button type="button" class="toggle @(item.Profile.Actived.ToString().ToLower())" id="Actived_@(item.Profile.Actived.ToString().ToLower())_@(item.Id)"
                                            data-toggle-state="true"
                                            data-url="@Url.Action("UpdateToggle")"
                                            data-args="Actived_@(item.Profile.Actived.ToString().ToLower())_@(item.Id)"></button>
                                </td>

                                <td>
                                    @(Html.Bootstrap()
                                          .ActionLink("", "Edit")
                                          .RouteValues(new { item.UserName })
                                          .Title("Cập nhật khóa học")
                                          .AppendIcon("fa fa-pencil fa-2x"))
                                    @(Html.Bootstrap()
                                          .ActionLink("", "Delete")
                                          .RouteValues(new { item.UserName })
                                          .Title("Xóa khóa học")
                                          .AppendIcon("fa fa-trash-o fa-2x"))
                                    @*@(Html.Bootstrap()
                                          .ActionLink("", "Index", "Cousre")
                                          .Class("ajax-link")
                                          .RouteValues(new { item.UserName })
                                          .AppendIcon("fa fa-users fa-2x")
                                          .Title("Xem các khóa học đã đăng ký"))*@
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="5">Không có tài khoản nào</td></tr>
                    }
                </table>

                <!-- Phần hiển thị thanh phân trang -->
                <div class="row">
                    <div class="col-md-6 m-b-sm text-center">
                        Hiển thị
                        @(Html.DropDownList("PageSize", null,
                          new { @class = "input-sm", id = "pageSelect" }))
                        mẫu tin
                    </div>
                    <div class="col-md-6 text-center">
                        @Html.PagedListPager(
                        Model,
                        page => Url.Action(
                            "Index",
                            new
                            {
                                page,
                                pageSize = ViewBag.CurrentPageSize,
                                keyword = ViewBag.Keyword,
                                status = ViewBag.CurrentStatus
                            }),
                        PagedListRenderOptions.ClassicPlusFirstAndLast)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/custom/active.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/account.js"></script>
}

