@model QuestionDetail
@{
    Model.ItemOrders = Model.ItemOrders.OrderBy(s => s.OrderNo).ToList();
}
<li class="dd-item dd3-item questions" data-type="Order" data-id="0">
    <div class="pull-right m-r-md m-t-sm">
        <a href="#" class="question-remove"><i class="fa fa-close"></i></a>
    </div>
    <div class="dd-handle dd3-handle question-type">Order</div>
    <div class="dd3-content question-border">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-group quetion-control">
                        <div class="col-md-12">
                            @Html.HiddenFor(s => s.QuestionDetailId, new {@class = "questionId"})
                            <div class="description-content">
                                @Html.TextArea("QuestionTitle-" + Model.OrderNo, Model.QuestionTitle, new { @class = "form-control description", placeholder = "Nhập nội dung câu hỏi" })
                            </div>
                            <span class="field-validation-valid text-danger question-title-error"></span>
                        </div>
                    </div>
                    <div class="form-group  quetion-control">
                        <div class="answers">
                            <span class="field-validation-valid text-danger question-answers-error"></span>
                            @foreach (var item in Model.ItemOrders)
                            {
                                <div class="col-md-12 question-answer answer-order">
                                    @Html.Hidden("choiceId", item.ChoiceId)
                                    <label class="control-label col-md-1 result">@item.Result</label>
                                    <div class="col-md-9 question-form">
                                        @Html.TextBox("answer", item.Content, new {placeholder = "Nhập nội dung đáp án", @class = "form-control answer"})
                                    </div>
                                    <div class="col-md-1 question-form">
                                        <div class="col-md-1 question-form question-close">
                                            <a href="#" class="remove-answer-choice">
                                                <i class="fa fa-close"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-md-12 question-answer">
                            <a class="button btn btn-primary add-order-answer" data-id="@Model.ItemOrders.Count">
                                <i class="fa fa-plus-circle"></i> Thêm đáp án
                            </a>
                            <a class="button btn btn-warning order-answer-model hidden" data-toggle="modal" data-target="#orderForm">
                            </a>
                            <a class="button btn btn-warning order-answer">
                                <i class="fa fa-sort"></i> Sắp xếp đáp án
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
