@model Question
@{
    Model.QuestionDetails = Model.QuestionDetails.OrderBy(s => s.OrderNo).ToList();
}
<div class="form-group">
    <div class="col-md-1" style="background: white">
        <div id="typeQuestion" class="dd questions">
            <ol class="dd-list">
                <li class="dd-item new-question" data-type="Choice">
                    <div class="dd-handle">
                        <img src="~/Images/Choice.png" class="img-responsive img-type-question" title="Câu hỏi lựa chọn" alt="Câu hỏi lựa chọn"/>
                    </div>
                </li>
                <li class="dd-item new-question" data-type="ChoiceMedia">
                    <div class="dd-handle">
                        <img src="~/Images/ChoiceMedia.png" class="img-responsive img-type-question" title="Câu hỏi lựa chọn hình ảnh" alt="Câu hỏi lựa chọn hình ảnh" />

                    </div>
                </li>
                <li class="dd-item  new-question" data-type="Order">
                    <div class="dd-handle">
                        <img src="~/Images/Order.png" class="img-responsive img-type-question" title="Câu hỏi sắp xếp" alt="Câu hỏi sắp xếp" />
                    </div>
                </li>
                <li class="dd-item  new-question" data-type="Associate">
                    <div class="dd-handle">
                        <img src="~/Images/Associate.png" class="img-responsive img-type-question" title="Câu hỏi ghép đôi" alt="Câu hỏi ghép đôi" />
                    </div>
                </li>
                <li class="dd-item new-question" data-type="Gap">
                    <div class="dd-handle">
                        <img src="~/Images/Gap.png" class="img-responsive img-type-question" title="Câu hỏi điền vào chỗ trống" alt="Câu hỏi điền vào chỗ trống"/>
                    </div>
                </li>
                <li class="dd-item new-question" data-type="Fill">
                    <div class="dd-handle">
                        <img src="~/Images/Fill.png" class="img-responsive img-type-question" title="Câu hỏi điền khuyết" alt="Câu hỏi điền khuyết" />
                    </div>
                </li>
                <li class="dd-item new-question" data-type="Slider">
                    <div class="dd-handle">
                        <img src="~/Images/Slider.png" class="img-responsive img-type-question" title="Câu hỏi thanh trượt" alt="Câu hỏi thanh trượt" />
                    </div>
                </li>
                
                
            </ol>
        </div>
    </div>

    <div class="col-md-11" style="background: white">
        <div id="contentQuestion" class="dd questions">

            @if (Model.QuestionDetails == null || Model.QuestionDetails.Count == 0)
            {
                <div class="dd-empty"></div>
            }
            else
            {
                <ol class="dd-list">
                    @foreach (var detail in Model.QuestionDetails)
                    {
                        switch (detail.QuestionType)
                        {
                            case QuestionType.Choice:
                                @Html.Partial("_ChoiceTemplate", detail)
                                break;
                            case QuestionType.Order:
                                @Html.Partial("_OrderTemplate", detail)
                                break;
                            case QuestionType.Associate:
                                @Html.Partial("_AssociateTemplate", detail)
                                break;
                            case QuestionType.Gap:
                                @Html.Partial("_GapTemplate", detail)
                                break;
                            case QuestionType.Slider:
                                @Html.Partial("_SliderTemplate", detail)
                                break;
                            case QuestionType.ChoiceMedia:
                                @Html.Partial("_ChoiceMediaTemplate", detail)
                                break;
                            case QuestionType.Fill:
                                @Html.Partial("_FillTemplate", detail)
                                break;
                        }
                    }
                </ol>
            }
        </div>
    </div>
</div>