@model Question
@{
    Model.QuestionDetails = Model.QuestionDetails.OrderBy(s => s.OrderNo).ToList();
}
<div class="form-group">
    <div class="col-md-2 " style="background: white">
        <div class="col-md-3"></div>
        <div id="typeQuestion" class="dd col-md-9 questions">
            <ol class="dd-list">
                <li class="dd-item new-question" data-type="Choice">
                    <div class="dd-handle">
                        Choice
                    </div>
                </li>
                <li class="dd-item  new-question" data-type="Order">
                    <div class="dd-handle">
                        Order
                    </div>
                </li>
                <li class="dd-item  new-question" data-type="Associate">
                    <div class="dd-handle">
                        Associate
                    </div>
                </li>
                <li class="dd-item new-question" data-type="Gap">
                    <div class="dd-handle">
                        Gap
                    </div>
                </li>
                <li class="dd-item new-question" data-type="Slider">
                    <div class="dd-handle">
                        Slider
                    </div>
                </li>
                <li class="dd-item new-question" data-type="ChoiceMedia">
                    <div class="dd-handle">
                        Choice Media
                    </div>
                </li>
                <li class="dd-item new-question" data-type="Fill">
                    <div class="dd-handle">
                        Fill
                    </div>
                </li>
            </ol>
        </div>
    </div>

    <div class="col-md-10" style="background: white">
        <div id="contentQuestion" class="dd questions">

            @if (Model.QuestionDetails == null || Model.QuestionDetails.Count == 0)
            {
                <div class="dd-empty"></div>
            }
            else
            {
                <ol class="dd-list">
                    @foreach (var detail in Model.QuestionDetails)
                    {
                        switch (detail.QuestionType)
                        {
                            case QuestionType.Choice:
                                @Html.Partial("_ChoiceTemplate", detail)
                                break;
                            case QuestionType.Order:
                                @Html.Partial("_OrderTemplate", detail)
                                break;
                            case QuestionType.Associate:
                                @Html.Partial("_AssociateTemplate", detail)
                                break;
                            case QuestionType.Gap:
                                @Html.Partial("_GapTemplate", detail)
                                break;
                            case QuestionType.Slider:
                                @Html.Partial("_SliderTemplate", detail)
                                break;
                            case QuestionType.ChoiceMedia:
                                @Html.Partial("_ChoiceMediaTemplate", detail)
                                break;
                            case QuestionType.Fill:
                                @Html.Partial("_FillTemplate", detail)
                                break;
                        }
                    }
                </ol>
            }
        </div>
    </div>
</div>