@using System.Text.RegularExpressions
@model Test

@Html.Hidden("TestTime",Model.TestTime*60)
<div class="ibox-title">
    <h5>Thời gian làm bài còn: <span id="testTimeShow">@Model.TestTime:00</span></h5>
</div>
<div class="ibox-content p-sm">
    <div id="test-questions" class="form-horizontal">
        <div class="col-md-12" id="questionNoBox">
            <ul class="nav nav-tabs">
                @for (int i = 1; i <= Model.TestDetails.Count; i++)
                {
                    <li class="@(i == 1 ? "active " : "")tab-li"><a data-toggle="tab" href="#@("question-" + i)" aria-expanded="true">
                        @i
                    </a></li>
                }
            </ul>
        </div>
        <div class="col-md-12" id="questionConBox">
            <div class="tab-content">
                @for (int i = 1; i <= Model.TestDetails.Count; i++)
                {
                    <div id="@("question-" + i)" class="tab-pane fade question-field@(i == 1 ? " in active" : "")" data-id="@Model.TestDetails[i - 1].QuestionId">
                        <div class="col-md-12 question-title">
                            <div class="col-md-2">Câu @i: </div>
                            <div class="col-md-10">@Html.Raw(Model.TestDetails[i - 1].Question.QuestionTitle)</div>
                        </div>
                        @foreach (var detail in Model.TestDetails[i - 1].Question.QuestionDetails)
                        {
                            <div class="col-md-12 question-details" data-type="@detail.QuestionType" data-id="@detail.QuestionDetailId">
                                @switch (detail.QuestionType)
                                {
                                    case QuestionType.Choice:
                                        <div class="question-detail-title">@Html.Raw(detail.QuestionTitle)</div>
                                        @Html.Partial("_ChoicePreview", detail)
                                        break;
                                    case QuestionType.Order:
                                        <div class="question-detail-title">@Html.Raw(detail.QuestionTitle)</div>
                                        @Html.Partial("_OrderPreview", detail)
                                        break;
                                    case QuestionType.Associate:
                                        <div class="question-detail-title">@Html.Raw(detail.QuestionTitle)</div>
                                        @Html.Partial("_AssociatePreview", detail)
                                        break;
                                    case QuestionType.Gap:
                                        @Html.Partial("_GapPreview", detail)
                                        break;
                                    case QuestionType.Slider:
                                        <div class="question-detail-title">@Html.Raw(detail.QuestionTitle)</div>
                                        @Html.Partial("_SliderPreview", detail)
                                        break;
                                    case QuestionType.ChoiceMedia:
                                        <div class="question-detail-title">@Html.Raw(detail.QuestionTitle)</div>
                                        @Html.Partial("_ChoiceMediaPreview", detail)
                                        break;
                                    case QuestionType.Fill:
                                        var titleFill = Regex.Replace(detail.QuestionTitle, @"<input name=""gapField"" type=""text"" value=""([\d]+)"" />", "<input name=\"gapField\" type =\"text\" />");
                                        <div class="question-detail-title">@Html.Raw(titleFill)</div>
                                        break;
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-md-12" id="button-box">
            <div id="buttons">
                <a class="btn btn-primary bfbutton" id="backward"><i class="fa fa-step-backward"></i> Câu trước</a>
                <a class="btn btn-danger" id="submit"><i class="fa fa-stop"></i> Nộp bài</a>
                <a class="btn btn-primary bfbutton" id="forward"><i class="fa fa-step-forward"></i> Câu sau</a>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
