<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - E-Testing</title>
    <link href="~/Content/front-end/SourceSanPro.css" rel="stylesheet" />
    <link href="~/Content/front-end/Ubunto.css" rel="stylesheet"/>
    @Styles.Render("~/Content/admbootstrap")
    @Styles.Render("~/Content/admstyle")
    @Styles.Render("~/bundles/shopstyle")
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/Scripts/front-end/html5shiv.js"></script>
    <script src="~/Scripts/front-end/respond.min.js"></script>
    <![endif]-->
    @RenderSection("pluginStyles", required: false)
</head>
<body id="page-top">
    <!--Home -->
    @Html.Partial("_Navigation")
    <div class="wrapper container">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
    @Scripts.Render("~/bundles/shopjs")
    @RenderSection("pluginScripts", required: false)
    @RenderSection("scripts", required: false)
    <script src="~/Content/js/custom.js"></script>
</body>
</html>
