@model PagedList.IPagedList<Account>

<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Danh sách tài khoản</h5>
                <div class="ibox-tools">
                    <a class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> Đã chọn: <span id="numberUser">0</span> học viên</a>
                </div>
            </div>
            <div class="ibox-content p-sm">
                <table id="tblUsers" class="table table-responsive table-bordered table-hover tbldata">
                    <thead>
                    <tr>
                        <th width="100px">Tên tài khoản</th>
                        <th width="150px">Họ và tên</th>
                        <th class="hidden-sm hidden-xs">Thông tin tài khoản</th>
                        <th class="hidden"></th>
                    </tr>
                    </thead>
                    @if (Model.Count != 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Profile.FullName)
                                </td>

                                <td class="hidden-sm hidden-xs">
                                    Mã: @(Html.DisplayFor(modelItem => item.Profile.Identity)). Email: @(Html.DisplayFor(modelItem => item.Email)). SĐT: @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td class="hidden">
                                    <a title="Xóa người dùng" class="remove-user"> <i class="fa fa-trash-o fa-2x"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="5">Không có tài khoản nào</td></tr>
                    }
                </table>

                <!-- Phần hiển thị thanh phân trang -->
                <div class="row">
                    <div class="col-md-offset-6 col-md-6 text-center" id="userPageList">
                        @Html.PagedListPager(
                        Model,
                        page => Url.Action(
                            "GetList",
                            new
                            {
                                page,
                                pageSize = ViewBag.CurrentPageSize,
                                keyword = ViewBag.Keyword
                            }),
                        PagedListRenderOptions.ClassicPlusFirstAndLast)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
