@model Course

@{
    ViewBag.Title = "Quản lí khóa học";
}

@section pluginStyles
{
    <link rel="stylesheet" type="text/css" media="screen"
          href="~/Content/bootstrap-datetimepicker.min.css">
    <link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Cập nhật khóa học</h5>
            </div>
            <div class="ibox-content p-sm">
                @using (Html.BeginForm("Edit", "Course", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.CourseId)
                    @Html.HiddenFor(model => model.RowVersion)
                    <div class="form-horizontal">
                        @(Html.ValidationSummary(true, "", new { @class = "text-danger", id = "Validation" }))
                        @Html.Partial("_CreateOrEdit", Model)
                        @Html.Partial("_Toolbar")
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section pluginScripts
{
    <script src="/Scripts/moment.js"></script>
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/custom/createOrEdit.js"></script>
}

@section scripts
{
    @Scripts.Render("~/bundles/admjqueryval")


    <script>
        $(document).ready(function () {
            $(".datetime").datetimepicker({
                format: "DD/MM/YYYY",
                showTodayButton: true
            });
            jQuery.validator.methods["date"] = function (value, element) { return true; }
        });
    </script>
}