@model List<Account>
@{
    var course = (Course)ViewBag.Course;
}
@{
    ViewBag.Title = "Thống kế Khóa học";
}

@section pluginStyles
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/AdmGrid.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Danh sách học viên</h5>
                <div class="ibox-tools">

                </div>
            </div>
            <div class="ibox-content p-sm">
                <table id="tblAccounts" class="table table-responsive table-bordered table-hover tbldata">
                    <thead>
                        <tr>
                            <th>MSSV</th>
                            <th>Họ và tên</th>
                            @for (var i = 1; i <= course.Tests.Count; i++)
                            {
                                <th>Bài @i</th>
                            }
                            <th>ĐiểmTB</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var listScore = new List<float>();
                            <tr>
                                <td>
                                    @item.Profile.Identity
                                </td>
                                <td>
                                    @item.Profile.FullName (@item.UserName)
                                </td>
                                @foreach (var te in course.Tests)
                                {
                                    var test = item.Tests.FirstOrDefault(s => s.TestId == te.TestId);
                                    if (test != null)
                                    {
                                        listScore.Add(test.UserScores);
                                        <td>@test.UserScores</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                                <td>
                                    @if (listScore.Count > 0)
                                    {
                                        <span>@listScore.Average()</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section pluginScripts
{
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/plugins/dataTables/dataTables.tableTools.min.js"></script>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $('#tblAccounts').DataTable({
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                "language": {
                    "lengthMenu": "Số dòng hiển thị _MENU_",
                    "zeroRecords": "Không có câu hỏi nào",
                    "info": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                    "infoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                    "search": "Tìm: ",
                    "infoFiltered": " ",
                    "paginate": {
                        "first": "Đầu",
                        "previous": "Trước",
                        "next": "Tiếp",
                        "last": "Cuối"
                    }
                },
                tableTools: {
                    "sSwfPath": "/Scripts/plugins/dataTables/swf/copy_csv_xls_pdf.swf",
                    "aButtons": [
                        "copy",
                        "xls",
                        "print"
                    ]
                }
            });
        });
    </script>
}



